.slide {
    position: absolute;
    transition: opacity 2s ease-in-out;
}

.box {
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}